@import "tailwindcss";

ul li:after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: purple;
  display: block;
  margin: auto;
  transition: 0.5s;

}

ul li:hover::after {
width: 100%;

}